* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fonte-principal);
    background-color: var(--cor-background-primary);
    color: var(--cor-texto-primary);
}

.app-container {
    display: flex;
    height: 100vh;
    background-color: var(--cor-background-primary);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width);  /* 260px */
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
}